---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Testimonials2 from '~/components/widgets/Testimonials2.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import { YouTube } from 'astro-embed';
import { getPermalink } from '~/utils/permalinks';
import { imageConfig } from 'astro:assets';

const metadata = {
  title: 'Sexo con K-Alma 2025',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'Ananda', href: getPermalink('/homes/personal') },
        { text: 'Ado', href: getPermalink('/homes/personal') },
      ]}
      actions={[
        {
          text: 'Nos apuntamos',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <!-- actions={[{ variant: 'primary', text: 'Más información', href: "https://www.espai-ananda.com/cursos-tantra-pareja-barcelona/tantra-en-pareja-en-barcelona/" }]} -->

  <Hero
    id="home"
    title="Sexo con K-Alma"
    tagline="Tantra para parejas"
    image={{ src: '~/assets/images/1.webp', alt: 'Love1' }}
  >
    <Fragment slot="subtitle">
      <strong>Sexo con K-alma</strong>, significa incluir la meditación en la intimidad y en la sexualidad, significa
      recordar y recuperar el amor, la relajación y el gozo en la relación.
      <br /><br />
      Las corazas que llevamos desde hace tiempo van cayendo para mostrar nuestra verdadera esencia a la persona con la que
      compartimos este momento de vida. La relación es un campo fértil, donde conseguir mucha expansión.
    </Fragment>
  </Hero>

  <Features3
    title="Un Viaje de Conexión Íntima y Espiritual"
    subtitle="El Tantra ofrece un camino para revitalizar y profundizar la relación íntima y sexual, trascendiendo lo físico hacia lo espiritual."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Reconexión en pareja',
        description:
          'La práctica del Tantra ayuda a recuperar la conexión profunda entre parejas en medio del ajetreo diario.',
        icon: 'tabler:template',
      },
      {
        title: 'Conciencia y presencia',
        description: 'El Tantra se centra en cultivar la conciencia plena y la presencia en la relación íntima.',
        icon: 'tabler:template',
      },
      {
        title: 'Revitalización del vínculo',
        description:
          'Los talleres tántricos están diseñados para reavidar la chispa y fortalecer los lazos emocionales en la pareja.',
        icon: 'tabler:template',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <!-- Features3 Widget ************** -->
  <!-- 
Creatividad sensorial
Se explora el sexo como una forma de expresión creativa y sensorial, conectando con la inspiración interna.

Viaje de autodescubrimiento
El proceso tántrico invita a aventurarse en lo desconocido y sentido, trascendiendo los límites personales.

Transformación relacional
El proceso busca transformar la relación de pareja en una experiencia más rica y espiritual.

Práctica energética
El Tantra trabaja con la energía vital para potenciar la conexión íntima y significativa en la pareja.

Exploración gradual
Los talleres permiten una inmersión progresiva y profunda en los beneficios del Tantra para parejas.

Integración holística
El Tantra crea un espacio donde lo humano y lo espiritual se encuentran y se celebran en la relación.  
-->
  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Comunicación corporal',
        description:
          'Se exploran técnicas para mejorar la comunicación no verbal y la expresión corporal entre los amantes.',
        icon: 'tabler:template',
      },
      {
        title: 'Expresión emocional',
        description: 'El proceso tántrico fomenta la expresión abierta y honesta de los sentimientos en la relación.',
        icon: 'tabler:template',
      },
      {
        title: 'Sexualidad trascendente',
        description:
          '"Sexo con K-alma" invita a vivir la sexualidad como una experiencia que va más allá de lo físico.',
        icon: 'tabler:template',
      },
      {
        title: 'Conexión espiritual',
        description:
          'El Tantra busca integrar la espiritualidad en la intimidad sexual, elevando la experiencia a un plano superior.',
        icon: 'tabler:template',
      },
      {
        title: 'Programa progresivo',
        description: 'El recorrido consta de cuatro talleres de un día y un retiro residencial de tres días.',
        icon: 'tabler:template',
      },
      {
        title: 'Crecimiento mutuo',
        description:
          'El recorrido tántrico facilita tanto el crecimiento individual como el desarrollo conjunto de la pareja.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: '~/assets/images/apaisada1.webp',
      alt: 'Love1',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>
  <!-- Testimonials Widget *********** -->

  <Testimonials
    title='Testimonios reales de "Sexo con K-alma"'
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  >
    <Fragment slot="bottom">
      <YouTube id="e9O4tkCdnQ8" title="Testimonios del taller" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
          width: 80vw;
        }
      </style>
    </Fragment>
  </Testimonials>

  <!-- Youtube Widget ******************* -->

  <!-- <YouTube id="e9O4tkCdnQ8" title="Testimonios del taller" />
  <style is:inline>
    lite-youtube {
      margin: 0 auto;
      max-width: 80%;
    }
  </style> -->

   <!-- Steps Widget ****************** -->

   <Testimonials2
title='Los facilitadores'
testimonials={[
  {
    name: 'Ananda',
    job: 'Cuando ya sabes quién eres y has conectado profundamente con tu ser interior, es momento de cuidar tu templo: el cuerpo, el hogar de tu alma. Este taller está diseñado para que te vivas plenamente en esta experiencia corporal y sensorial, reconociendo tu cuerpo como tu preciado tesoro. Al reconocerte y cuidarte, te conviertes en pura irradiación, brillando y atrayendo naturalmente. A través de tu cuerpo, el amor se despliega y se abre, y el juego inocente de la dualidad se convierte en una pura celebración y disfrute.',
    image: {
      src: '~/assets/images/ananda_cara.jpg',
      alt: 'Ananda',
    },
  },
  {
    name: 'Ado Melera',
    job: 'Cuando ya sabes quién eres y has conectado profundamente con tu ser interior, es momento de cuidar tu templo: el cuerpo, el hogar de tu alma. Este taller está diseñado para que te vivas plenamente en esta experiencia corporal y sensorial, reconociendo tu cuerpo como tu preciado tesoro. Al reconocerte y cuidarte, te conviertes en pura irradiación, brillando y atrayendo naturalmente. A través de tu cuerpo, el amor se despliega y se abre, y el juego inocente de la dualidad se convierte en una pura celebración y disfrute.',
    image: {
      src: '~/assets/images/ado_cara.jpg',
      alt: 'Ado',
    },
  }  
]}
callToAction={{
  target: '_blank',
  text: 'Mas información...',
  href: 'https://github.com/onwidget/astrowind',
  icon: 'tabler:chevron-right',
}}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Testimonials2>

   <Steps
   title="Recorrido Sexo con K-alma"
   items={[
    {
       title: 'Del hacer al ser',
       description:
         "Kickstart with GitHub! Either fork the ",
       icon: 'tabler:package',
     },
     {
       title: 'El Magnetismo de los cuerpos',
       description:
         "Kickstart with GitHub! Either fork the ",
       icon: 'tabler:package',
     },
     {
       title: 'Contacto e intimidad',
       description:
         "Kickstart with GitHub! Either fork the ",
       icon: 'tabler:package',
     },
     {
       title: 'Masaje Tántrico de Cachemira',
       description:
         "Kickstart with GitHub! Either fork the ",
       icon: 'tabler:package',
     },
     {
       title: 'Residencial Haz el amor por amor',
       description:
         "Kickstart with GitHub! Either fork the ",
       icon: 'tabler:check',
     },
   ]}
   image={{
     src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
     alt: 'Steps image',
   }}
   >
   <!-- <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment> -->
</Steps>



<!-- <Features2
title="Los Facilitadores"
subtitle="Link al perfilç!!!We believe in the magic of turning dreams into stunning realities. Founded by passionate developers with a shared vision, we set out to simplify the website creation process. Our templates bring together the innovation of Astro 4.0 and the versatility of Tailwind CSS, enabling you to express your unique brand identity like never before."
image={{
  src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
  alt: 'Steps image',
}}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Features2> -->

  <!-- Content Widget **************** -->

    

  <Content
    title='Del hacer al ser<br /><span class="text-xl">18 Mayo 2025</span>',
    subtitle='En un mundo lleno de distracciones y desafíos, reconectar con nuestro ser interior y con nuestra pareja puede ser un viaje profundamente transformador. Este taller está diseñado para ayudarte a reconocer quién eres, deshacer tus miedos y resistencias con la ayuda del amor, y descubrir que no estás solo en este camino. Antes de fundirte con el otro, es esencial fundirte con tu propio ser, trascender las autolimitaciones y la sensación de que eres erróne@, y destilarte como ser humano para brillar ante ti y ante tu pareja. ¡Queremos que te vuelvas a enamorar de ti mismo y de tu pareja!',
    isReversed
    items={[ 
      // {
      //   title: 'Introducción:',
      //   description: 'En un mundo lleno de distracciones y desafíos, reconectar con nuestro ser interior y con nuestra pareja puede ser un viaje profundamente transformador. Este taller está diseñado para ayudarte a reconocer quién eres, deshacer tus miedos y resistencias con la ayuda del amor, y descubrir que no estás solo en este camino. Antes de fundirte con el otro, es esencial fundirte con tu propio ser, trascender las autolimitaciones y la sensación de que eres erróne@, y destilarte como ser humano para brillar ante ti y ante tu pareja. ¡Queremos que te vuelvas a enamorar de ti mismo y de tu pareja!',
      // },    
      // {
      //   title: 'Objetivos del Taller:',
      //   description:
      //     '<ul class="text-muted list-disc"><li>Conectar profundamente con tu corporalidad y reconocerla como el hogar de tu alma.</li><li>Desarrollar prácticas de cuidado corporal para mantener tu templo en armonía.</li><li>Conocer y  sentir cómo y en qué lugares se manifiesta ese magnetismo en tu cuerpo.</li><li>La importancia de mantener vivo y radiante tú magnetismo individual.</li><li>Darse cuenta de cuáles son los hábitos energéticos(inercias) que se despiertan en la intimidad.</li><li>Reconocer los límites, como una herramienta necesaria para vincularse y aprender a escuchar el cuerpo para comunicarlos.</li><li>Desplegar el amor a través de la experiencia corporal y sensorial.</li><li>Poder celebrar tanto la dualidad como el goce.</li><li>Disfrutar a través del juego y la espontaneidad en la conexión íntima.</li></ul>',
      // },
      {
       title: 'Programa:',
        description:
          '<ul class="text-muted list-disc"><li>Conoce tu esencia más profunda</li><li>Deshacer los miedos y las resistencias a través del poder del amor.</li><li>La tecnología del amor.</li><li>Conexión y apoyo mutuo en el viaje de autodescubrimiento.</li><li>La danza entre la individuación y la fusión.</li><li>El descanso en la intimidad.</li><li>La corporalidad: el camino de la presencia.</li><li>Mantener viva la llama de la propia vitalidad.</li><li>La Comunicación NoViolenta, una herramienta esencial en la relación.</li><li>La respiración al servicio de la sensibilidad.</li><li>Despertar el cuerpo extático.</li><li>Hacer el amor: un acto desde la consciencia</li></ul>',
      },
      
    ]},
    image={{
      src: '~/assets/images/238A6769.jpg',
      alt: 'Del hacer al ser',
      aspectRatio: "1:1"
    }},
    classes={{itemClasses: 'list-disc',Headline: 'text-m'}}
  >
    <!-- <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        El Magnetismo de los cuerpos: <br /><span class="text-xl">18 Mayo 2025</span>
      </h3>
    </Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
    
  </Content>

 <!-- Content Widget **************** -->

  <Content
    title='El Magnetismo de los cuerpos<br /><span class="text-xl">18 Mayo 2025</span>',
    subtitle='Cuando ya sabes quién eres y has conectado profundamente con tu ser interior, es momento de cuidar tu templo: el cuerpo, el hogar de tu alma. Este taller está diseñado para que te vivas plenamente en esta experiencia corporal y sensorial, reconociendo tu cuerpo como tu preciado tesoro. Al reconocerte y cuidarte, te conviertes en pura irradiación, brillando y atrayendo naturalmente. A través de tu cuerpo, el amor se despliega y se abre, y el juego inocente de la dualidad se convierte en una pura celebración y disfrute.<br>Cuando la pareja se une, las bioenergías de los cuerpos crean una experiencia sexual extática a través de la atracción de las polaridades opuestas, como dos imanes que crean un campo magnético (yin-yang, femenino –masculino).<br>Independientemente del género, en el encuentro tiene que haber una polaridad, siempre habrá un@ con carga masculina, más emisiva y otr@ con carga femenina, más receptiva.',
    
    items={[      
      {
        title: 'Objetivos del Taller:',
        description:
          '<ul class="text-muted list-disc"><li>Conectar profundamente con tu corporalidad y reconocerla como el hogar de tu alma.</li><li>Desarrollar prácticas de cuidado corporal para mantener tu templo en armonía.</li><li>Conocer y  sentir cómo y en qué lugares se manifiesta ese magnetismo en tu cuerpo.</li><li>La importancia de mantener vivo y radiante tú magnetismo individual.</li><li>Darse cuenta de cuáles son los hábitos energéticos(inercias) que se despiertan en la intimidad.</li><li>Reconocer los límites, como una herramienta necesaria para vincularse y aprender a escuchar el cuerpo para comunicarlos.</li><li>Desplegar el amor a través de la experiencia corporal y sensorial.</li><li>Poder celebrar tanto la dualidad como el goce.</li><li>Disfrutar a través del juego y la espontaneidad en la conexión íntima.</li></ul>',
      },
      {
        title: 'Conclusión:',
        description:
          'El Magnetismo de los Cuerpos es un taller para reconocer y celebrar tu cuerpo como el hogar de tu alma. Al cuidarte y vivenciarte plenamente en esta experiencia corporal y sensorial, te conviertes en pura irradiación y magnetismo. A través de tu cuerpo, el amor se despliega y se abre, convirtiendo el juego inocente de la dualidad en una pura celebración y disfrute. Este taller es una invitación a vivir y disfrutar del amor y la conexión íntima desde la profundidad de tu ser y el reconocimiento de tu cuerpo como tu templo sagrado.',
      },
      
    ]},
    image={{
      src: '~/assets/images/238A7991.jpg',
      alt: 'El Magnetismo de los cuerpos',
      aspectRatio: "1:1"
    }},
    classes={{itemClasses: 'list-disc',Headline: 'text-m'}}
  >
    <!-- <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        El Magnetismo de los cuerpos: <br /><span class="text-xl">18 Mayo 2025</span>
      </h3>
    </Fragment> -->

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Content>



   <!-- Content Widget **************** -->

   <Content
   title='Contacto e intimidad<br /><span class="text-xl">18 Mayo 2025</span>',
   subtitle='Cuando ya sabes quién eres y has conectado profundamente con tu ser interior, es momento de cuidar tu templo: el cuerpo, el hogar de tu alma. Este taller está diseñado para que te vivas plenamente en esta experiencia corporal y sensorial, reconociendo tu cuerpo como tu preciado tesoro. Al reconocerte y cuidarte, te conviertes en pura irradiación, brillando y atrayendo naturalmente. A través de tu cuerpo, el amor se despliega y se abre, y el juego inocente de la dualidad se convierte en una pura celebración y disfrute.<br>Cuando la pareja se une, las bioenergías de los cuerpos crean una experiencia sexual extática a través de la atracción de las polaridades opuestas, como dos imanes que crean un campo magnético (yin-yang, femenino –masculino).<br>Independientemente del género, en el encuentro tiene que haber una polaridad, siempre habrá un@ con carga masculina, más emisiva y otr@ con carga femenina, más receptiva.',
   isReversed
   items={[      
     {
       title: 'Objetivos del Taller:',
       description:
         '<ul class="text-muted list-disc"><li>Conectar profundamente con tu corporalidad y reconocerla como el hogar de tu alma.</li><li>Desarrollar prácticas de cuidado corporal para mantener tu templo en armonía.</li><li>Conocer y  sentir cómo y en qué lugares se manifiesta ese magnetismo en tu cuerpo.</li><li>La importancia de mantener vivo y radiante tú magnetismo individual.</li><li>Darse cuenta de cuáles son los hábitos energéticos(inercias) que se despiertan en la intimidad.</li><li>Reconocer los límites, como una herramienta necesaria para vincularse y aprender a escuchar el cuerpo para comunicarlos.</li><li>Desplegar el amor a través de la experiencia corporal y sensorial.</li><li>Poder celebrar tanto la dualidad como el goce.</li><li>Disfrutar a través del juego y la espontaneidad en la conexión íntima.</li></ul>',
     },
     {
       title: 'Conclusión:',
       description:
         'El Magnetismo de los Cuerpos es un taller para reconocer y celebrar tu cuerpo como el hogar de tu alma. Al cuidarte y vivenciarte plenamente en esta experiencia corporal y sensorial, te conviertes en pura irradiación y magnetismo. A través de tu cuerpo, el amor se despliega y se abre, convirtiendo el juego inocente de la dualidad en una pura celebración y disfrute. Este taller es una invitación a vivir y disfrutar del amor y la conexión íntima desde la profundidad de tu ser y el reconocimiento de tu cuerpo como tu templo sagrado.',
     },
     
   ]},
   image={{
     src: '~/assets/images/238A7018.jpg',
     alt: 'Contacto e intimidad',
     aspectRatio: "1:1"
   }},
   classes={{itemClasses: 'list-disc',Headline: 'text-m'}}
 >
   <!-- <Fragment slot="content">
     <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
       El Magnetismo de los cuerpos: <br /><span class="text-xl">18 Mayo 2025</span>
     </h3>
   </Fragment> -->

   <Fragment slot="bg">
     <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
   </Fragment>
 </Content>

 <!-- Content Widget **************** -->

 <Content
 title='Masaje Tántrico de Cachemira<br /><span class="text-xl">18 Mayo 2025</span>',
 subtitle='Cuando ya sabes quién eres y has conectado profundamente con tu ser interior, es momento de cuidar tu templo: el cuerpo, el hogar de tu alma. Este taller está diseñado para que te vivas plenamente en esta experiencia corporal y sensorial, reconociendo tu cuerpo como tu preciado tesoro. Al reconocerte y cuidarte, te conviertes en pura irradiación, brillando y atrayendo naturalmente. A través de tu cuerpo, el amor se despliega y se abre, y el juego inocente de la dualidad se convierte en una pura celebración y disfrute.<br>Cuando la pareja se une, las bioenergías de los cuerpos crean una experiencia sexual extática a través de la atracción de las polaridades opuestas, como dos imanes que crean un campo magnético (yin-yang, femenino –masculino).<br>Independientemente del género, en el encuentro tiene que haber una polaridad, siempre habrá un@ con carga masculina, más emisiva y otr@ con carga femenina, más receptiva.',
 
 items={[      
   {
     title: 'Objetivos del Taller:',
     description:
       '<ul class="text-muted list-disc"><li>Conectar profundamente con tu corporalidad y reconocerla como el hogar de tu alma.</li><li>Desarrollar prácticas de cuidado corporal para mantener tu templo en armonía.</li><li>Conocer y  sentir cómo y en qué lugares se manifiesta ese magnetismo en tu cuerpo.</li><li>La importancia de mantener vivo y radiante tú magnetismo individual.</li><li>Darse cuenta de cuáles son los hábitos energéticos(inercias) que se despiertan en la intimidad.</li><li>Reconocer los límites, como una herramienta necesaria para vincularse y aprender a escuchar el cuerpo para comunicarlos.</li><li>Desplegar el amor a través de la experiencia corporal y sensorial.</li><li>Poder celebrar tanto la dualidad como el goce.</li><li>Disfrutar a través del juego y la espontaneidad en la conexión íntima.</li></ul>',
   },
   {
     title: 'Conclusión:',
     description:
       'El Magnetismo de los Cuerpos es un taller para reconocer y celebrar tu cuerpo como el hogar de tu alma. Al cuidarte y vivenciarte plenamente en esta experiencia corporal y sensorial, te conviertes en pura irradiación y magnetismo. A través de tu cuerpo, el amor se despliega y se abre, convirtiendo el juego inocente de la dualidad en una pura celebración y disfrute. Este taller es una invitación a vivir y disfrutar del amor y la conexión íntima desde la profundidad de tu ser y el reconocimiento de tu cuerpo como tu templo sagrado.',
   },
   
 ]},
 image={{
   src: '~/assets/images/238A7018.jpg',
   alt: 'Masaje Tántrico de Cachemira',
   aspectRatio: "1:1"
 }},
 classes={{itemClasses: 'list-disc',Headline: 'text-m'}}
>
 <!-- <Fragment slot="content">
   <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
     El Magnetismo de los cuerpos: <br /><span class="text-xl">18 Mayo 2025</span>
   </h3>
 </Fragment> -->

 <!-- <Fragment slot="bg">
   <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
 </Fragment> -->
</Content>

<!-- Content Widget **************** -->

<Content
title='Residencial Haz el amor por amor<br /><span class="text-xl">Del 21 al 24 de Agosto 2025</span>',
subtitle='Cuando ya sabes quién eres y has conectado profundamente con tu ser interior, es momento de cuidar tu templo: el cuerpo, el hogar de tu alma. Este taller está diseñado para que te vivas plenamente en esta experiencia corporal y sensorial, reconociendo tu cuerpo como tu preciado tesoro. Al reconocerte y cuidarte, te conviertes en pura irradiación, brillando y atrayendo naturalmente. A través de tu cuerpo, el amor se despliega y se abre, y el juego inocente de la dualidad se convierte en una pura celebración y disfrute.<br>Cuando la pareja se une, las bioenergías de los cuerpos crean una experiencia sexual extática a través de la atracción de las polaridades opuestas, como dos imanes que crean un campo magnético (yin-yang, femenino –masculino).<br>Independientemente del género, en el encuentro tiene que haber una polaridad, siempre habrá un@ con carga masculina, más emisiva y otr@ con carga femenina, más receptiva.',
isReversed
items={[      
  {
    title: 'Objetivos del Taller:',
    description:
      '<ul class="text-muted list-disc"><li>Conectar profundamente con tu corporalidad y reconocerla como el hogar de tu alma.</li><li>Desarrollar prácticas de cuidado corporal para mantener tu templo en armonía.</li><li>Conocer y  sentir cómo y en qué lugares se manifiesta ese magnetismo en tu cuerpo.</li><li>La importancia de mantener vivo y radiante tú magnetismo individual.</li><li>Darse cuenta de cuáles son los hábitos energéticos(inercias) que se despiertan en la intimidad.</li><li>Reconocer los límites, como una herramienta necesaria para vincularse y aprender a escuchar el cuerpo para comunicarlos.</li><li>Desplegar el amor a través de la experiencia corporal y sensorial.</li><li>Poder celebrar tanto la dualidad como el goce.</li><li>Disfrutar a través del juego y la espontaneidad en la conexión íntima.</li></ul>',
  },
  {
    title: 'Conclusión:',
    description:
      'El Magnetismo de los Cuerpos es un taller para reconocer y celebrar tu cuerpo como el hogar de tu alma. Al cuidarte y vivenciarte plenamente en esta experiencia corporal y sensorial, te conviertes en pura irradiación y magnetismo. A través de tu cuerpo, el amor se despliega y se abre, convirtiendo el juego inocente de la dualidad en una pura celebración y disfrute. Este taller es una invitación a vivir y disfrutar del amor y la conexión íntima desde la profundidad de tu ser y el reconocimiento de tu cuerpo como tu templo sagrado.',
  },
  
]},
image={{
  src: '~/assets/images/238A7018.jpg',
  alt: 'Residencial Haz el amor por amor',
  aspectRatio: "1:1"
}},
classes={{itemClasses: 'list-disc',Headline: 'text-m'}}
>
<!-- <Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
    El Magnetismo de los cuerpos: <br /><span class="text-xl">18 Mayo 2025</span>
  </h3>
</Fragment> -->

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent={true}
    items={[
      {
        title: 'Programa:',
        description:
          'Danza intuitiva para liberar tensiones y conectar con la pareja. Ejercicios de tacto consciente para comunicar amor y cuidado. Juegos de rol físico para explorar diferentes dinámicas de poder y vulnerabilidad.',
      },
      {
        title: 'Conclusión:',
        description:
          'El Magnetismo de los Cuerpos es un taller para reconocer y celebrar tu cuerpo como el hogar de tu alma. Al cuidarte y vivenciarte plenamente en esta experiencia corporal y sensorial, te conviertes en pura irradiación y magnetismo. A través de tu cuerpo, el amor se despliega y se abre, convirtiendo el juego inocente de la dualidad en una pura celebración y disfrute. Este taller es una invitación a vivir y disfrutar del amor y la conexión íntima desde la profundidad de tu ser y el reconocimiento de tu cuerpo como tu templo sagrado.',
      },
    ]}
    image={{
      src: '~/assets/images/3.webp',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">      
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->
<!-- 
  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Your portfolio is your masterpiece, and AstroWind is your canvas. Whether you're a designer, photographer, artist, or any other creative professional, AstroWind empowers you to showcase your work with elegance and sophistication. Tailored to highlight your creative projects, AstroWind's templates offer a visually immersive experience that lets your portfolio shine.`,
      },
      {
        title: 'Benefits:',
        description: `Serve as a captivating backdrop to showcase your creative work, capturing attention and leaving a lasting impression. <br /> Tailor your portfolio to reflect your unique style and artistic vision. <br /> Prioritizes visuals, allowing you to present your work in high-resolution detail that draws viewers into your creations. <br /> Enables seamless navigation for effortless portfolio exploration.`,
      },
    ]}
    image={{
      src: '~/assets/images/5.webp',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Creative portfolios: <br /><span class="text-2xl">Highlighting your work</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    items={[
      {
        title: 'Description:',
        description: `For small businesses, a well-crafted website can be a game-changer. AstroWind empowers small businesses to not only establish a credible online presence but also convert visitors into loyal customers. The template's thoughtful design and optimization features ensure that your website doesn't just attract attention but also guides visitors through a seamless journey, ultimately leading to conversions.`,
      },
      {
        title: 'Benefits:',
        description: `Present your small business with a professional and polished website that instills confidence and trust among visitors. <br /> Strategically placed CTAs, user-friendly forms, and optimized layouts work together to drive user engagement and conversions. <br /> Ensure a smooth browsing experience, reducing bounce rates and encouraging interaction.`,
      },
    ]}
    image={{
      src: '~/assets/images/7.webp',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Small business growth: <br /><span class="text-2xl">Converting visitors into customers</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->
<!-- Features Widget *************** -->

<Features
id="features"
title="Que os puede aportar este recorrido"
subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
items={[
  {
    title: 'Astro + Tailwind CSS Integration',
    description:
      'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
    icon: 'tabler:brand-tailwind',
  },
  {
    title: 'Ready-to-use Components',
    description:
      'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
    icon: 'tabler:components',
  },
  {
    title: 'Best Practices',
    description:
      'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
    icon: 'tabler:list-check',
  },
  {
    title: 'Excellent Page Speed',
    description:
      'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
    icon: 'tabler:rocket',
  },
  {
    title: 'Search Engine Optimization (SEO)',
    description:
      "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
    icon: 'tabler:arrows-right-left',
  },
  {
    title: 'Open to new ideas and contributions',
    description:
      'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
    icon: 'tabler:bulb',
  },
]}
/>
  <!-- Pricing Widget ******************* -->

  <Prices
    title="Modalidades"
    subtitle="¿Que opcion escoges?"
    prices={[
      {
        title: 'cada taller',
        subtitle: 'de 1 dia cada uno',
        price: 180,
        period: 'por pareja',
        items: [
          {
            description: 'De Abril a Julio',
          },
          {
            description: 'El total es 640€',
          },
          {
            description: 'Grupo de seguimiento',
          },
          {
            description: 'Con meditaciones guiadas en video',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          href: '#',
        },
      },
      {
        title: '4 talleres',
        subtitle: 'de 1 dia cada uno',
        price: 600,
        period: 'por pareja',
        items: [
          {
            description: 'De Abril a Julio',
          },
          {
            description: 'Nos apuntamos a todos los talleres',
          },
          {
            description: 'Grupo de seguimiento',
          },
          {
            description: 'Con meditaciones guiadas en video',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          href: '#',
        },
      },      
      {
        title: 'Solo el residencial',
        subtitle: 'de 3 dias',
        price: 1000,
        period: 'por pareja',
        items: [
          {
            description: '460 precio formacion',
          },
          {
            description: '540 precio alojamiento (180 por pareja por noche)',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          href: '#',
        },
      },
      {
        title: 'recorrido completo',
        subtitle: 'incluye residencial y talleres',
        price: 1500,
        period: 'por pareja',
        items: [
          {
            description: 'De Abril a Agosto',
          },
          {
            description: '',
          },
          {
            description: '',
          },
          {
            description: '',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'recomendado',
      },
    ]}
  />

  <Features3
    title="Todavia con dudas"
    subtitle="Nos encantara atenderte"
    columns={3}
    items={[
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'info@espai-ananda.com',
          href: 'mailto:info@espai-ananda.com',
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ado',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Envia whatsapp',
          href: 'https://wa.me/34680760473',
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ananda',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Envia whatsapp',
          href: 'https://wa.me/34627591609',
          variant: 'link',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <Fragment slot="footer"></Fragment>
</Layout>
