---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Testimonials2 from '~/components/widgets/Testimonials2.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import { YouTube } from 'astro-embed';
import { Icon } from 'astro-icon/components';


const metadata = {
  title: 'Sexo con K-Alma 2025',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'Ananda', href: 'https://www.espai-ananda.com/' },
        { text: 'Ado', href: 'https://adomelera.com/' },
      ]}
      actions={[
        {
          text: 'Nos apuntamos',
          href: 'https://wa.me/34627591609/?text=Hola,%20Nos%20queremos%20apuntar%20a%20Sexo%20con%20K-Alma',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <!-- actions={[{ variant: 'primary', text: 'Más información', href: "https://www.espai-ananda.com/cursos-tantra-pareja-barcelona/tantra-en-pareja-en-barcelona/" }]} -->

  <Hero
    id="home"
    title="Sexo con K-Alma"
    tagline="Tantra para parejas"
    image={{ src: '~/assets/images/238A7333.webp', alt: 'Love' }}
  >
    <Fragment slot="subtitle">
      <strong>Sexo con K-alma</strong>, significa incluir la meditación en la intimidad y en la sexualidad, significa
      recordar y recuperar el amor, la relajación y el gozo en la relación.
      <br /><br />
      Las corazas que llevamos desde hace tiempo van cayendo para mostrar nuestra verdadera esencia a la persona con la que
      compartimos este momento de vida. La relación es un campo fértil, donde conseguir mucha expansión.
    </Fragment>
  </Hero>

  <Features3
    title="Un Viaje de Conexión Íntima y Espiritual"
    subtitle="El Tantra ofrece un camino para revitalizar y profundizar la relación íntima y sexual, trascendiendo lo físico hacia lo espiritual."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Reconexión en pareja',
        description:
          'La práctica del Tantra ayuda a recuperar la conexión profunda entre parejas en medio del ajetreo diario.',
        icon: 'tabler:heart',
      },
      {
        title: 'Conciencia y presencia',
        description: 'El Tantra se centra en cultivar la conciencia plena y la presencia en la relación íntima.',
        icon: 'tabler:plant',
      },
      {
        title: 'Revitalización del vínculo',
        description:
          'Los talleres tántricos están diseñados para reavidar la chispa y fortalecer los lazos emocionales en la pareja.',
        icon: 'tabler:leaf',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <!-- Features3 Widget ************** -->
  <!-- 
Creatividad sensorial
Se explora el sexo como una forma de expresión creativa y sensorial, conectando con la inspiración interna.

Viaje de autodescubrimiento
El proceso tántrico invita a aventurarse en lo desconocido y sentido, trascendiendo los límites personales.

Transformación relacional
El proceso busca transformar la relación de pareja en una experiencia más rica y espiritual.

Práctica energética
El Tantra trabaja con la energía vital para potenciar la conexión íntima y significativa en la pareja.

Exploración gradual
Los talleres permiten una inmersión progresiva y profunda en los beneficios del Tantra para parejas.

Integración holística
El Tantra crea un espacio donde lo humano y lo espiritual se encuentran y se celebran en la relación.  
-->
  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Comunicación corporal',
        description:
          'Se exploran técnicas para mejorar la comunicación no verbal y la expresión corporal entre los amantes.',
        icon: 'tabler:plant-2',
      },
      {
        title: 'Expresión emocional',
        description: 'El proceso tántrico fomenta la expresión abierta y honesta de los sentimientos en la relación.',
        icon: 'tabler:flower',
      },
      {
        title: 'Sexualidad trascendente',
        description:
          '"Sexo con K-alma" invita a vivir la sexualidad como una experiencia que va más allá de lo físico.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Conexión espiritual',
        description:
          'El Tantra busca integrar la espiritualidad en la intimidad sexual, elevando la experiencia a un plano superior.',
        icon: 'tabler:template',
      },
      {
        title: 'Programa progresivo',
        description: 'El recorrido consta de cuatro talleres de un día y un retiro residencial de cuatro días.',
        icon: 'tabler:growth',
      },
      {
        title: 'Crecimiento mutuo',
        description:
          'El recorrido tántrico facilita tanto el crecimiento individual como el desarrollo conjunto de la pareja.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/238A7246.webp',
      alt: 'Love',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>
  <!-- Testimonials Widget *********** -->

  <Testimonials
    title='Testimonios reales de "Sexo con K-alma"'
    testimonials={[
      {
        testimonial: `Recomiendo a todas las parejas que vengan a estos talleres, tener espacio donde poder salir de las inercias y practicar otra manera de comunicarte en pareja de relacionarte pues es vital para que las relaciones no se estanque, se profundice y se llegue a lugares nuevos`,
        name: 'Carol',
        //job: 'Photographer',
        image: {
          src: '~/assets/images/anonima1.webp',
          alt: 'Carol',
        },
      },
      {
        testimonial: `Siento mucha alegría, mucha conexión conmigo mismo y la verdad que agradezco mucho las propuestas porque te mueven a conectar contigo antes que con la otra persona y además sientes un espacio seguro, un espacio que va creciendo cada vez más a lo largo del recorrido`,
        name: 'Anonimo',
        //job: 'Photographer',
        image: {
          src: '~/assets/images/anonimo1.webp',
          alt: 'Anonimo',
        },
      },
      {
        testimonial: `Me siento llena de amor, he conectado con la vitalidad, con la gratitud, me encanta con el cuidado y el respeto que manejan las propuestas. Hay al mismo tiempo ligereza, juego y diversión y a mí me ayuda mucho a bajar la tierra, a conectar con mi cuerpo, con el presente`,
        name: 'Noelia',
        //job: 'Small business owner',
        image: {
          src: '~/assets/images/anonima2.webp',
          alt: 'Noelia',
        },
      },
    ]}
    callToAction={{
      target: '_blank',      
    }}
  >
    <Fragment slot="bottom">
      <YouTube id="iJDufTO_A5E" title="" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 90vw;
          width: 800px;
        }
      </style>
    </Fragment>
  </Testimonials>

  <!-- Youtube Widget ******************* -->

  <!-- <YouTube id="e9O4tkCdnQ8" title="Testimonios del taller" />
  <style is:inline>
    lite-youtube {
      margin: 0 auto;
      max-width: 80%;
    }
  </style> -->

  <!-- Steps Widget ****************** -->

  <Testimonials2
    title="Los facilitadores"
    testimonials={[
      {
        name: 'Deva Ananda',
        job: 'Respirar, meditar, bailar, y ser tocados desde el corazón nos ayuda a hacer cambios personales, a calmar nuestra sistema nervioso, disolviendo nuestros patrones equivocados, nuestras inercias y hábitos poco saludables. Recordar la confianza en la vida y en la muerte y el goce de estar viva, es ahora mi camino de vida, de entrega, de deshacimiento de la falsedad para ser lo que Soy.',
        image: {
          src: '~/assets/images/ananda_cara.webp',
          alt: 'Deva Ananda',
        },
        testimonial: 'https://www.espai-ananda.com/'
      },
      {
        name: 'Ado Melera',
        job: 'Me encantaría acompañarte a recobrar la paz interior y sentirte plen@ con tu ser y tu sexualidad. Aportando ingredientes sencillos como: Una mirada amorosa al ser, un respeto a los procesos por los que transitamos o una aceptacion de los tiempos y situaciones. Teniendo en cuenta el entorno, la sociedad, el cuerpo, la mente, la emocion...',
        image: {
          src: '~/assets/images/ado_cara.webp',
          alt: 'Ado Melera',
        },
        testimonial: 'https://adomelera.com/'
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Mas información...',
      href: '#',
      icon: 'tabler:chevron-right',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Testimonials2>

  <Steps
    title="Recorrido Sexo con K-alma"
    items={[
      {
        title: 'Del hacer al ser',
        description: 'Deja de hacer, baja el ritmo, sientente, maravillate de ser',
        icon: 'tabler:plant-2',
      },
      {
        title: 'El Magnetismo de los cuerpos',
        description: 'Polaridades, atraccion magnetica, energias, dejate ser fluido',
        icon: 'tabler:magnet',
      },
      {
        title: 'Contacto e intimidad',
        description: 'Abrete al tacto, conecta profundamente, despierta una nueva intimidad',
        icon: 'tabler:hand-stop',
      },
      {
        title: 'Juego, eros y celebración',
        description: 'Entregemonos a la alegría, el placer y el gozo',
        icon: 'tabler:flame',
      },
      {
        title: 'Residencial Haz el amor por amor',
        description: 'Gozo sin expectativa, soltar para estar presente',
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: '~/assets/images/238A7514.webp',
      alt: 'Steps image',
    }}
  >
    <!-- <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment> -->
  </Steps>

  <!-- <Features2
title="Los Facilitadores"
subtitle="Link al perfilç!!!We believe in the magic of turning dreams into stunning realities. Founded by passionate developers with a shared vision, we set out to simplify the website creation process. Our templates bring together the innovation of Astro 4.0 and the versatility of Tailwind CSS, enabling you to express your unique brand identity like never before."
image={{
  src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
  alt: 'Steps image',
}}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Features2> -->

  <!-- Content Widget **************** -->

  <Content
    title='Del hacer al ser<br /><span class="text-xl">6 Abril 2025</span>'
    ,
    subtitle="En un mundo lleno de distracciones y desafíos, reconectar con nuestro ser interior y con nuestra pareja puede ser un viaje profundamente transformador. Este taller está diseñado para ayudarte a reconocer quién eres, deshacer tus miedos y resistencias con la ayuda del amor, y descubrir que no estás solo en este camino. Antes de fundirte con el otro, es esencial fundirte con tu propio ser, trascender las autolimitaciones y la sensación de que eres erróne@, y destilarte como ser humano para brillar ante ti y ante tu pareja. ¡Queremos que te vuelvas a enamorar de ti mismo y de tu pareja!"
    ,
    isReversed
    items={[
      // {
      //   title: 'Introducción:',
      //   description: 'En un mundo lleno de distracciones y desafíos, reconectar con nuestro ser interior y con nuestra pareja puede ser un viaje profundamente transformador. Este taller está diseñado para ayudarte a reconocer quién eres, deshacer tus miedos y resistencias con la ayuda del amor, y descubrir que no estás solo en este camino. Antes de fundirte con el otro, es esencial fundirte con tu propio ser, trascender las autolimitaciones y la sensación de que eres erróne@, y destilarte como ser humano para brillar ante ti y ante tu pareja. ¡Queremos que te vuelvas a enamorar de ti mismo y de tu pareja!',
      // },
      // {
      //   title: 'Objetivos del Taller:',
      //   description:
      //     '<ul class="text-muted list-disc"><li>Conectar profundamente con tu corporalidad y reconocerla como el hogar de tu alma.</li><li>Desarrollar prácticas de cuidado corporal para mantener tu templo en armonía.</li><li>Conocer y  sentir cómo y en qué lugares se manifiesta ese magnetismo en tu cuerpo.</li><li>La importancia de mantener vivo y radiante tú magnetismo individual.</li><li>Darse cuenta de cuáles son los hábitos energéticos(inercias) que se despiertan en la intimidad.</li><li>Reconocer los límites, como una herramienta necesaria para vincularse y aprender a escuchar el cuerpo para comunicarlos.</li><li>Desplegar el amor a través de la experiencia corporal y sensorial.</li><li>Poder celebrar tanto la dualidad como el goce.</li><li>Disfrutar a través del juego y la espontaneidad en la conexión íntima.</li></ul>',
      // },
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>Conoce tu esencia más profunda</li><li>Deshacer los miedos y las resistencias a través del poder del amor.</li><li>La tecnología del amor.</li><li>Conexión y apoyo mutuo en el viaje de autodescubrimiento.</li><li>La danza entre la individuación y la fusión.</li><li>El descanso en la intimidad.</li><li>La corporalidad: el camino de la presencia.</li><li>Mantener viva la llama de la propia vitalidad.</li><li>La Comunicación NoViolenta, una herramienta esencial en la relación.</li><li>La respiración al servicio de la sensibilidad.</li><li>Despertar el cuerpo extático.</li><li>Hacer el amor: un acto desde la consciencia</li></ul>',
      },
      {
        title: 'Conclusión:',
        description: 'Este taller nos invita a redescubrir la importancia del descanso y el valor del *no esfuerzo* en la intimidad*<br>Los momentos de descanso, gozo y  placer son una forma de recarga necesaria para sostener nuestro propio bienestar y el de la relación.<br>Cuanto más habitemos nuestro cuerpo más conocerás y sabrás escuchar tus propias necesidades y respetar y comprender las de tu compañer@. Estar conectados a las sensaciones corporales nos trae el abrazo del presente, lo cual nos permite estar más en sintonía con nuestro ser interior.',
      },
    ]}
    ,
    image={{
      src: '~/assets/images/238A6733.webp',
      alt: 'Del hacer al ser',
      aspectRatio: '1:1',
    }}
    ,
    classes={{ itemClasses: 'list-disc', Headline: 'text-m' }}
  >
    <!-- <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        El Magnetismo de los cuerpos: <br /><span class="text-xl">18 Mayo 2025</span>
      </h3>
    </Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    title='El Magnetismo de los cuerpos<br /><span class="text-xl">18 Mayo 2025</span>'
    ,
    subtitle="Cuando ya sabes quién eres y has conectado profundamente con tu ser interior, es momento de cuidar tu templo: el cuerpo, el hogar de tu alma. Este taller está diseñado para que te vivas plenamente en esta experiencia corporal y sensorial, reconociendo tu cuerpo como tu preciado tesoro. Al reconocerte y cuidarte, te conviertes en pura irradiación, brillando y atrayendo naturalmente. A través de tu cuerpo, el amor se despliega y se abre, y el juego inocente de la dualidad se convierte en una pura celebración y disfrute.<br>Cuando la pareja se une, las bioenergías de los cuerpos crean una experiencia sexual extática a través de la atracción de las polaridades opuestas, como dos imanes que crean un campo magnético (yin-yang, femenino –masculino).<br>Independientemente del género, en el encuentro tiene que haber una polaridad, siempre habrá un@ con carga masculina, más emisiva y otr@ con carga femenina, más receptiva."
    ,
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>Corporalidad,  el hogar de tu alma.</li><li>La meditación, en la vida cotidiana</li><li>Autocuidado corporal para mantener tu templo en armonía.</li><li>Sentir, magnetiza</li><li>La radiancia individual</li><li>Hábitos energéticos que sabotean la intimidad</li><li>Poner y comunicar límites,una acto de amor y respeto</li><li>Celebrar la dualidad y también el goce</li><li>El juego y la espontaneidad en la conexión íntima.</li></ul>',
      },
      {
        title: 'Conclusión:',
        description:
          'El Magnetismo de los Cuerpos es un taller para reconocer y celebrar tu cuerpo como el hogar de tu alma. Al cuidarte y vivenciarte plenamente en esta experiencia corporal y sensorial, te conviertes en pura irradiación y magnetismo. A través de tu cuerpo, el amor se despliega y se abre, convirtiendo el juego inocente de la dualidad en una pura celebración y disfrute. Este taller es una invitación a vivir y disfrutar del amor y la conexión íntima desde la profundidad de tu ser y el reconocimiento de tu cuerpo como tu templo sagrado.',
      },
    ]}
    ,
    image={{
      src: '~/assets/images/238A7833.webp',
      alt: 'El Magnetismo de los cuerpos',
      aspectRatio: '1:1',
    }}
    ,
    classes={{ itemClasses: 'list-disc', Headline: 'text-m' }}
  >
    <!-- <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        El Magnetismo de los cuerpos: <br /><span class="text-xl">18 Mayo 2025</span>
      </h3>
    </Fragment> -->

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Content>

  <!-- Content Widget **************** -->

  <Content
    title='Contacto e intimidad<br /><span class="text-xl">15 Junio 2025</span>'
    ,
    subtitle="El tacto en la intimidad es una puerta hacia una conexión profunda y significativa tanto con uno mismo como con la pareja. Este taller está diseñado para explorar y experimentar el contacto en sus diversas formas: con uno mismo, con la pareja, con nuestras necesidades y con la ternura que nutre la relación. A través del contacto, cultivamos un espacio de presencia, comunicación y entrega pura, permitiendo que la intimidad florezca."
    ,
    isReversed
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>El arte del ritual en nuestras vida cotidiana.</li><li>El arte del tacto: acompasar la energía.</li><li>El ritmo del corazón en el toque.</li><li>La respiración y el cuerpo extático.</li><li>Armonizar y liberar los bloqueos que impiden el libre fluir de la energía.</li><li>El arte de sublimar la energía.</li><li>Si hay espacio para el dolor, también lo hay para el placer.</li><li>Reconocer, permitir y comunicar nuestras necesidades.</li><li>Conectar con la ternura, entregarse a la relación.</li></ul>',
      },
      {
        title: 'Conclusión:',
        description:
          'La intimidad es un espacio seguro y poderoso donde podemos conocernos y conectar de manera auténtica. A través de la meditacion del tacto, exploraremos nuestros paisajes emocionales, nos comunicaremos honestamente, y descubriremos nuevas formas de relacionarnos. Este taller nos invita a profundizar en la versión más verdadera de “nosotros”, creando un vínculo más fuerte y auténtico basado en el amor y la comprensión mutua.',
      },
    ]}
    ,
    image={{
      src: '~/assets/images/238A7251.webp',
      alt: 'Contacto e intimidad',
      aspectRatio: '1:1',
    }}
    ,
    classes={{ itemClasses: 'list-disc', Headline: 'text-m' }}
  >
    <!-- <Fragment slot="content">
     <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
       El Magnetismo de los cuerpos: <br /><span class="text-xl">18 Mayo 2025</span>
     </h3>
   </Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    title='Juego, eros y celebración <br /><span class="text-xl">13 Julio 2025</span>'
    ,
    subtitle='En este taller os invitamos a permitir vivir un renacimiento, reconocimiento, exploración y reconexión entregándoos a la alegría, el placer y el gozo a través de la presencia de vuestros cuerpos.<br>En este taller vais aprender a reconectar con vuestra creatividad, entusiasmo, el deseo el juego y la fantasía a través de juegos sencillos y de conexión. La invitación es que a través de distintas exploraciones podáis descubrir nuevas vías para despertar a Eros en vuestros cuerpos.<br>El taller va a suceder en un templo donde vamos a dejarnos inspirar por las diferentes musas (la música, el amor, el arte, la poesía, etc… En este espacio van a haber diferentes y variadas propuestas y juegos. Cuánta falta nos hace jugar y celebrar! Si los niños aprenden jugando, nosotr@s también podemos hacerlo.<br><br>"Os aseguro que, si no volvéis a ser como niños, no entraréis en el reino de los cielos"<br>San Mateo (18, 1-5.10)<br><br>Un espacio donde nutriremos la conexión con el cuerpo, escucharemos y honraremos nuestra verdad personal, acogiendo nuestros límites y comunicándolos, pudiendo descubrir más formas de conectar con eros que no solo las típicas que imperan en nuestra vida cotidiana.''
    ,
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>Despertando al amante intern@</li><li>Despertando el Juego y la Sensualidad:</li><li>Fortalecer la Intimidad:</li><li>Meditación y meditaciones en movimiento</li><li>Rueda de consentimiento y límites</li><li>Consciencia corporal: habitar el cuerpo con amabilidad</li><li>Espacio para la celebración y alegría</li><li>Autoamor: despertando al amante intern@</li><li>La  vergüenza y culpa no existen en el cielo</li><li>Amplifico mi capacidad de sentir, confiar y dejar ir el control</li></ul>',
      },
      {
        title: 'Conclusión:',
        description:
          'En un mundo donde se premia la productividad, la repaideza  y la eficacia, vivenciarnos de una manera consciente  y auténtica para crear nuevas conexiones conscientes, amorosas y respetuosas con un@ mism@ y con la  pareja en un ambiente cuidado y seguro es muy necesario.<br>Navegar y explorar vías de conexión con el placer y el amor a través de nuestra intimidad y darnos permiso a habitarnos como seres sensuales en un espacio libre de juicio, conectando en pareja a través del Eros, puede ser un viaje muy sanador y enriquecedor para la relación.',
      },
    ]}
    ,
    image={{
      src: '~/assets/images/238A6929.webp',
      alt: 'Juego, eros y celebración',
      aspectRatio: '1:1',
    }}
    ,
    classes={{ itemClasses: 'list-disc', Headline: 'text-m' }}
  >
    <!-- <Fragment slot="content">
   <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
     El Magnetismo de los cuerpos: <br /><span class="text-xl">18 Mayo 2025</span>
   </h3>
 </Fragment> -->

    <!-- <Fragment slot="bg">
   <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
 </Fragment> -->
  </Content>

  <!-- Content Widget **************** -->

  <Content
    title='Residencial Haz el amor por amor<br /><span class="text-xl">Del 21 al 24 de Agosto 2025</span>'
    ,
    subtitle="Os proponemos dedicar unos días a profundizar en la relación, a sentir y a vibrar desde el centro del corazón y a que el acto de hacer el amor, se convierta en el medio donde recordar nuestra capacidad extática y expansiva.<br>En este retiro encontraréis: juegos, sorpresas, relajación, conexión con la naturaleza, sensibilidad, meditación, pasión, éxtasis, etc. y quizás también la posibilidad de poder abrazar, la vergüenza, el miedo, la vulnerabilidad, la tensión, el dolor, etc.<br>Toda la formación es puramente práctica."
    ,
    isReversed
    items={[
      {
        title: 'La jornada se divide en 3 partes:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>Por la mañana: compartimos en la sala tod@s juntos diferentes propuestas tántricas.</li><li>Por la tarde: practicamos en la intimidad y hacemos el amor con algunas pautas sugeridas (con nuestra pareja y en nuestra propia habitación)</li><li>Antes de cenar: hacemos un compartir (sólo quien lo siente) tod@s  junt@s en la sala, para ver cómo ha sido la vivencia personal.',
      },
      {
        title: 'Porqué:',
        description:
          'En nuestra experiencia, compartirnos con otr@s parejas que están explorando este nivel de intimidad tan profundo, es muy enriquecedor e inspirador y propicia, mucha amorosidad y amabilidad con el propio camino de consciencia.',
      },
    ]}
    ,
    image={{
      src: '~/assets/images/238A6794.webp',
      alt: 'Residencial Haz el amor por amor',
      aspectRatio: '1:1',
    }}
    ,
    classes={{ itemClasses: 'list-disc', Headline: 'text-m', Content: 'pb-0' }}
  >
    <!-- <Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
    El Magnetismo de los cuerpos: <br /><span class="text-xl">18 Mayo 2025</span>
  </h3>
</Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li> El arte del ritual en nuestras vidas</li><li>Meditación y sexualidad: la relación entre consciencia y energía 	</li><li>Sexo con k-Alma: acompasar la energía</li><li>La ola respiratoria y el cuerpo extático</li><li>Armonizar y liberar los bloqueos que impiden el libre fluir de la energía sexual</li><li>El arte de sublimar la energía sexual</li><li>Despertar el cuerpo gozoso a través del tacto</li><li>El arte de comunicar mis necesidades</li></ul>',
      },
      {
        title: 'Conclusión:',
        description:
          'Este es un curso de profundización en pareja para  entrar en contacto con nuestra esencia gracias al espacio de intimidad. Aprender a amar y respetar nuestros cuerpos (sean como sean) y dejarlos "ser amor". Entender  que hacer el amor es algo sagrado, es una meditación más.<br>Estos días en la naturaleza y compartiendo con el grupo van a propiciar  la relajación y el disfrute de la energía vital que nos brinda el cuerpo, practicando distintas meditaciones, de dinámicas y ejercicios individuales  y/o en pareja para llevarlas luego a la vida cotidiana y seguir haciendo del tantra y el arte de la presencia un camino accesible y amable.',
      },
    ]}
    ,
    image={{
      src: '~/assets/images/238A8105.webp',
      alt: 'Residencial Haz el amor por amor',
      aspectRatio: '1:1',
    }}
    ,
    classes={{ container: 'pt-0 md:pt-0 lg:pt-0'}}
  >
    <!-- <Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
    El Magnetismo de los cuerpos: <br /><span class="text-xl">18 Mayo 2025</span>
  </h3>
</Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent={true}
    items={[
      {
        title: 'Programa:',
        description:
          'Danza intuitiva para liberar tensiones y conectar con la pareja. Ejercicios de tacto consciente para comunicar amor y cuidado. Juegos de rol físico para explorar diferentes dinámicas de poder y vulnerabilidad.',
      },
      {
        title: 'Conclusión:',
        description:
          'El Magnetismo de los Cuerpos es un taller para reconocer y celebrar tu cuerpo como el hogar de tu alma. Al cuidarte y vivenciarte plenamente en esta experiencia corporal y sensorial, te conviertes en pura irradiación y magnetismo. A través de tu cuerpo, el amor se despliega y se abre, convirtiendo el juego inocente de la dualidad en una pura celebración y disfrute. Este taller es una invitación a vivir y disfrutar del amor y la conexión íntima desde la profundidad de tu ser y el reconocimiento de tu cuerpo como tu templo sagrado.',
      },
    ]}
    image={{
      src: '~/assets/images/3.webp',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">      
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->
  <!-- 
  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Your portfolio is your masterpiece, and AstroWind is your canvas. Whether you're a designer, photographer, artist, or any other creative professional, AstroWind empowers you to showcase your work with elegance and sophistication. Tailored to highlight your creative projects, AstroWind's templates offer a visually immersive experience that lets your portfolio shine.`,
      },
      {
        title: 'Benefits:',
        description: `Serve as a captivating backdrop to showcase your creative work, capturing attention and leaving a lasting impression. <br /> Tailor your portfolio to reflect your unique style and artistic vision. <br /> Prioritizes visuals, allowing you to present your work in high-resolution detail that draws viewers into your creations. <br /> Enables seamless navigation for effortless portfolio exploration.`,
      },
    ]}
    image={{
      src: '~/assets/images/5.webp',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Creative portfolios: <br /><span class="text-2xl">Highlighting your work</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    items={[
      {
        title: 'Description:',
        description: `For small businesses, a well-crafted website can be a game-changer. AstroWind empowers small businesses to not only establish a credible online presence but also convert visitors into loyal customers. The template's thoughtful design and optimization features ensure that your website doesn't just attract attention but also guides visitors through a seamless journey, ultimately leading to conversions.`,
      },
      {
        title: 'Benefits:',
        description: `Present your small business with a professional and polished website that instills confidence and trust among visitors. <br /> Strategically placed CTAs, user-friendly forms, and optimized layouts work together to drive user engagement and conversions. <br /> Ensure a smooth browsing experience, reducing bounce rates and encouraging interaction.`,
      },
    ]}
    image={{
      src: '~/assets/images/7.webp',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Small business growth: <br /><span class="text-2xl">Converting visitors into customers</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->
  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Que os puede aportar este recorrido"
    subtitle=""
    items={[
      {
        title: 'Herramientas',
        description:  'Conocer y practicar distintas meditaciones y herramientas para traer consciencia a la relación dentro de un entorno cálido, responsable y amoroso',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Romper patrones',
        description:  'Dejar de repetir dinámicas y patrones del pasado que saboteen el Amor Presente',
        icon: 'tabler:seeding',
      },
      {
        title: 'Autenticidad y profundidad',
        description:  'Instalar una intimidad más profunda, auténtica y gozosas, en parejas que inician una relación',
        icon: 'tabler:growth',
      },
      {
        title: 'Deseo',
        description:  'Fortalecer la conexión y avivar la llama, en parejas de largo recorrido',
        icon: 'tabler:heart',
      },
      {
        title: 'Activar el amor',
        description:  'Aprender a generar un campo electromagnético de amor propio desde tu cuerpo',
        icon: 'tabler:flower',
      },
      {
        title: 'Meditación',
        description:  'Incluir la meditación en la intimidad, en la sexualidad y en la comunicación cotidiana',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Habito',
        description:  'Instalar el hábito cotidiano de generar momentos de calidad para y por la intimidad',
        icon: 'tabler:plant',
      },
      {
        title: 'Compromiso',
        description:  'Reafirmaros en el compromiso y la responsabilidad individual de vuestra propia felicidad',
        icon: 'tabler:plant-2',
      },
      {
        title: 'Conexion real',
        description:  'Confiar en la conexión energética y de corazón, más que en los convencionalismos (creencias sociales-culturales) o las ideas entorno al amor romántico',
        icon: 'tabler:leaf',
      },
      // {
      //     title: 'Astro + Tailwind CSS Integration',
      //     description:
      //       'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
      //     icon: 'tabler:brand-tailwind',
      //   },
    ]}
  />

  <!-- Slider -->
<!-- <div data-hs-carousel='{
  "loadingClasses": "opacity-0",
  "dotsItemClasses": "hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer",
  "isAutoPlay": true,
  "isAutoHeight": false,
  "isCentered": false,
  "isDraggable": true,
  "slidesQty": {
    "xs": 1,
    "md": 2,
    "lg": 3
  }
  }' class="relative">
<div class="hs-carousel relative overflow-hidden w-full min-h-96 bg-white rounded-lg">
  <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
    <div class="hs-carousel-slide">
      <div class="flex justify-center h-full bg-gray-100 p-6">
        <span class="self-center text-4xl text-gray-800 transition duration-700">
          <Image
                  class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
                  width={500}
                  height={500}
                  widths={[768]}
                  sizes="(max-width: 768px) 100vw, 432px"
                  layout="responsive"
                  src= '~/assets/images/238A6769.webp'
                  alt= 'Del hacer al ser'                  
          />
        </span>
      </div>
    </div>
    <div class="hs-carousel-slide">
      <div class="flex justify-center h-full bg-gray-200 p-6">
        <span class="self-center text-4xl text-gray-800 transition duration-700">
          <Image
                  class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
                  width={500}
                  height={500}
                  widths={[768]}
                  sizes="(max-width: 768px) 100vw, 432px"
                  layout="responsive"
                  src= '~/assets/images/238A7018.webp'
                  alt= 'Del hacer al ser'                  
          />
        </span>
      </div>
    </div>
    <div class="hs-carousel-slide">
      <div class="flex justify-center h-full bg-gray-300 p-6">
        <span class="self-center text-4xl text-gray-800 transition duration-700">
          <Image
                  class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
                  width={500}
                  height={500}
                  widths={[768]}
                  sizes="(max-width: 768px) 100vw, 432px"
                  layout="responsive"
                  src= '~/assets/images/238A7845.webp'
                  alt= 'Del hacer al ser'                  
          />
        </span>
      </div>
    </div>
  </div>
</div>

<button type="button" class="hs-carousel-prev hs-carousel-disabled:opacity-50 hs-carousel-disabled:pointer-events-none absolute inset-y-0 start-0 inline-flex justify-center items-center w-[46px] h-full text-gray-800 hover:bg-gray-800/10 focus:outline-none focus:bg-gray-800/10 rounded-s-lg">
  <span class="text-2xl" aria-hidden="true">
    <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m15 18-6-6 6-6"></path>
    </svg>
  </span>
  <span class="sr-only">Previous</span>
</button>
<button type="button" class="hs-carousel-next hs-carousel-disabled:opacity-50 hs-carousel-disabled:pointer-events-none absolute inset-y-0 end-0 inline-flex justify-center items-center w-[46px] h-full text-gray-800 hover:bg-gray-800/10 focus:outline-none focus:bg-gray-800/10 rounded-e-lg">
  <span class="sr-only">Next</span>
  <span class="text-2xl" aria-hidden="true">
    <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m9 18 6-6-6-6"></path>
    </svg>
  </span>
</button>

<div class="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 space-x-2"></div>
</div> -->
<!-- End Slider -->


<!-- Satat Another Slider -->
<!-- Slider -->
<div class="px-4 lg:px-6 lg:px-8 py-10">
  <div data-hs-carousel='{
      "loadingClasses": "opacity-0",
      "dotsItemClasses": "hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer",
      "isAutoPlay": true,
      "isAutoHeight": false,
      "isCentered": false,
      "isDraggable": true,
      "slidesQty": {
        "xs": 1,
        "md": 1,
        "lg": 2
      }
    }' class="relative">
    <div class="hs-carousel relative overflow-hidden w-full h-[30rem] md:h-[calc(100vh-106px)]  bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
        <!-- Item -->
        <div class="hs-carousel-slide">
          <div class="h-[30rem] md:h-[calc(100vh-106px)]  flex flex-col bg-[url('~/assets/images/238A6769.webp')] bg-cover bg-center bg-no-repeat">
          </div>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="hs-carousel-slide">
          <div class="h-[30rem] md:h-[calc(100vh-106px)]  flex flex-col bg-[url('~/assets/images/238A7018.webp')] bg-cover bg-center bg-no-repeat">
          </div>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="hs-carousel-slide">
          <div class="h-[30rem] md:h-[calc(100vh-106px)]  flex flex-col bg-[url('~/assets/images/238A7845.webp')] bg-cover bg-center bg-no-repeat">
          </div>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="hs-carousel-slide">
          <div class="h-[30rem] md:h-[calc(100vh-106px)]  flex flex-col bg-[url('~/assets/images/238A7333.webp')] bg-cover bg-center bg-no-repeat">
          </div>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="hs-carousel-slide">
          <div class="h-[30rem] md:h-[calc(100vh-106px)]  flex flex-col bg-[url('~/assets/images/238A7246.webp')] bg-cover bg-center bg-no-repeat">
          </div>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="hs-carousel-slide">
          <div class="h-[30rem] md:h-[calc(100vh-106px)]  flex flex-col bg-[url('~/assets/images/238A7514.webp')] bg-cover bg-center bg-no-repeat">
          </div>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="hs-carousel-slide">
          <div class="h-[30rem] md:h-[calc(100vh-106px)]  flex flex-col bg-[url('~/assets/images/238A6733.webp')] bg-cover bg-center bg-no-repeat">
          </div>
        </div>
        <!-- End Item -->
      </div>
    </div>

    <!-- Arrows -->
    <button type="button" class="hs-carousel-prev hs-carousel-disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 start-0 inline-flex justify-center items-center w-12 h-full text-black hover:bg-white/20 rounded-s-2xl focus:outline-none focus:bg-white/20">
      <span class="text-2xl" aria-hidden="true">
        <Icon name="tabler:circle-arrow-left" class="flex-shrink-0 mt-1 text-primary w-6 h-6 mr-2 rtl:mr-0 rtl:ml-2"/>
      </span>
      <span class="sr-only">Previous</span>
    </button>

    <button type="button" class="hs-carousel-next hs-carousel-disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 end-0 inline-flex justify-center items-center w-12 h-full text-black hover:bg-white/20 rounded-e-2xl focus:outline-none focus:bg-white/20">
      <span class="sr-only">Next</span>
      <span class="text-2xl" aria-hidden="true">
        <Icon name="tabler:circle-arrow-right" class="flex-shrink-0 mt-1 text-primary w-6 h-6 mr-2 rtl:mr-0 rtl:ml-2"/>
      </span>
    </button>

    <!-- End Arrows -->

    <div class="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 space-x-2"></div>


  </div>
</div>
<!-- End Slider -->
<!-- End another slider -->

  <!-- Pricing Widget ******************* -->

  <Prices
    title="Modalidades"
    subtitle="¿Que opcion escogeis?"
    prices={[
      {
        title: 'cada taller',
        subtitle: 'escogeis a cuales asistís',
        price: 160,
        period: 'por taller por pareja',
        items: [
          {
            description: 'De Abril a Julio',
          },
          {
            description: 'El total es 640€',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          href: 'https://wa.me/34627591609/?text=Hola,%20Nos%20queremos%20apuntar%20a%20un%20taller%20de%20Sexo%20con%20K-Alma',
        },
      },
      {
        title: '4 talleres',
        subtitle: 'de 1 dia cada uno',
        price: 600,
        period: 'por pareja',
        items: [
          {
            description: 'Nos apuntamos a todos los talleres',
          },
          {
            description: 'Grupo de seguimiento',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          href: 'https://wa.me/34627591609/?text=Hola,%20Nos%20queremos%20apuntar%20a%20todos%20los%20talleres%20de%20Sexo%20con%20K-Alma',
        },
        hasRibbon: true,
        ribbonTitle: '- 40 €',
      },
      
      {
        title: 'Solo el residencial',
        subtitle: 'de 4 días y 3 noches',
        price: 1000,
        period: 'por pareja',
        items: [
          {
            description: '460 precio formacion',
          },
          {
            description: '540 precio alojamiento',
          },
          {
            description: 'Pension completa',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          href: 'https://wa.me/34627591609/?text=Hola,%20Nos%20queremos%20apuntar%20al%20residencial%20de%20Sexo%20con%20K-Alma',
        },
      },
      {
        title: 'recorrido completo',
        subtitle: 'incluye talleres y residencial',
        price: 1500,
        period: 'por pareja',
        items: [
          {
            description: 'De Abril a Agosto',
          },          
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          href: 'https://wa.me/34627591609/?text=Hola,%20Nos%20queremos%20apuntar%20al%20recorrido%20completo%20de%20Sexo%20con%20K-Alma',
        },
        hasRibbon: true,
        ribbonTitle: '- 140 €',
      },
    ]}
  />

  <Features3
    title="Todavía con dudas"
    subtitle="Nos encantará atenderte"
    columns={3}
    items={[
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'info@espai-ananda.com',
          href: 'mailto:info@espai-ananda.com',
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ado',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Envia whatsapp',
          href: 'https://wa.me/34680760473',
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ananda',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Envia whatsapp',
          href: 'https://wa.me/34627591609',
          variant: 'link',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <Fragment slot="footer"></Fragment>
</Layout>
